@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto:wght@300;500&display=swap');
:root{
    font-size: 16px;
    --orange: rgb(219, 105, 23);

}
body{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    display: flex;  
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.bg-img{
background-image: url(/images/hero-img.jpg);
width: 40vw;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat ;
position: relative;
}

div.credit{
    position: absolute;
    font-size: 16px;
    top: calc(100% - 2em);
    width: 100%;
    text-align: center;
}

a{
    color:white
}

div.banner{
    height: 100px;
    background-color: rgba(0, 0, 0, 60%);
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    padding: 20px;
    gap: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}

img#odin-img{
    height: 100%;
}

.main{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.main-body,
.main-footer,
.main-header{
    width: 80%;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
}

.form-row{
    display: flex;
    flex-direction: column;
    width: min(40%, 300px);
    padding-right: min(2vw,60px);
    margin-bottom: 30px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
    font-size: .85rem;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.form-row label{
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgb(116, 116, 116);
}

button{
    margin-bottom: 40px;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    background-color: var(--orange);
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(202, 100, 28);
}

.main-footer a{
    color: var(--orange) ;
}

.line{
    background-color: rgb(155, 155, 155);
    opacity: 40%;
    height: 3px;
    width: 100%;
    margin-bottom: 40px;
}

.title{
    font-size: 1.5rem;
}

input:focus{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
   
}
 input:focus {
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    outline: none;
  } 
   input:invalid:focus:not(:placeholder-shown):required {
    border: 2px solid rgb(228, 43, 74);
    padding: 4px 10px;
  }
  input:valid:focus:required,
  input:focus:required:placeholder-shown{
    border: 2px solid rgb(51, 169, 228) ;
    padding: 4px 10px;
  }